# Build output
*.a
*.o
*.dSYM
Makefile
blocktags
cols
config.cmd
config.h
config.log
config.mak
config.md
config.sub
echo
libmarkdown
librarian.sh
makepage
markdown
mkd2html
mkdio.h
mktags
theme
version.c
